<button type="button" (click)="goBack()" class="btn btn-sm btn-primary mt-2">
    &lt; Retour
</button>

<h2 class="text-center">
    Détails :
</h2>
<div *ngIf="dev">
    <h3 class="text-center">
        <u>
            > {{dev.nomComplet | uppercase}} - #{{dev.id}}
        </u>
    </h3>
    <div class="form-group">
        <label for="dev-name">Modifier le nom : </label>
        <input class="form-control" id="dev-name" [(ngModel)]="dev.nomComplet" placeholder="Nom Complet">
    </div>
    <button type="button" (click)="save()">save</button>
</div>