/*
   The Css Code of the component goes Here !
*/

h1,
small {
   background: blue;
   color: white; 
   text-align:center;
}

#the_section{
   margin-top: 15px;
   border: 2px solid black;
   text-align: center;
}