<h2>
    Développeurs chez SQLI :
</h2>
<p>
    Moi :
    <span>
        #Dev{{developper.id}}
        -
        {{developper.nomComplet}}
    </span>
</p>
<div>
    <label for="nomComplet">nom complet: </label>
    <input id="nomComplet" [(ngModel)]="developper.nomComplet" placeholder="nomComplet">
</div>
<!-- 
<div *ngIf="selectedDev">
    <h2>{{selectedDev.nomComplet | uppercase}} Details</h2>
    <div>id: {{selectedDev.id}}</div>
    <div>
        <label for="dev-name">Dev name: </label>
        <input id="dev-name" [(ngModel)]="selectedDev.nomComplet" placeholder="Nom Complet">
    </div>
</div>

<div>
    <table id="devs">
        <thead>
            <tr>
                <th>#id</th>
                <th>Nom Complet</th>
                <th>Satisfaction</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dev of devs" [class.selected]="dev === selectedDev">
                <td>
                    <button type="button" (click)="onSelect(dev)">
                        <span class="badge">
                            {{ dev.id }}
                        </span>
                    </button>
                </td>
                <td>
                    <span class="name">
                        {{ dev.nomComplet }}
                    </span>
                </td>
                <td>
                    {{ dev.isHappy ? "✅" : "❌" }}
                </td>
            </tr>
        </tbody>
    </table>
</div> -->