#devs {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #devs td, #devs th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #devs tr:nth-child(even){background-color: #f2f2f2;}
  
  #devs tr:hover {background-color: #ddd;}
  
  #devs th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
  }

  /* devsComponent's private CSS styles */
.devs button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.devs button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.devs button:active {
  background-color: #525252;
  color: #fafafa;
}

.devs button.selected {
  background-color: black;
  color: white;
}

.devs button.selected:hover {
  background-color: #505050;
  color: white;
}

.devs button.selected:active {
  background-color: black;
  color: white;
}

.devs .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.devs .name {
  align-self: center;
}